.list {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.4rem;
  align-items: center;
  padding: 2rem 2rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
}
.delete {
  position: absolute;

  top: 1rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  background-color: rgb(187, 17, 17);
}

.image {
  width: 100%;
  grid-row: 1 / -1;
}

.stats {
  display: flex;
  justify-content: space-between;
}
